@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

body {
    background-color: rgba(194, 131, 217, 0.49);
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
.navigation {
  width: 100%;
  position: fixed;
  height: 50px;
  margin: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: #0000005e;
  text-align: center;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.3s ease;
}

.navigation a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 15px;
}

.home, .about-me, .photos, .contact {
  width: 25%;
  float: left;
}

.home:hover, .about-me:hover, .photos:hover, .contact:hover {
  transition: all 0.8s ease;
  background-color: rgba(0, 0, 0, 0.8);
}

/* HEADER END*/

/* HOME */
.home-title {
  margin-top: 100px;

}