{% extends 'main/header.html' %}

{% block title %} Photos -> Portraits {% endblock title %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="photo">
        <div>
            <img src="\media\images\Aga-cz-b.jpg">
            <img src="\media\images\Aga-lisc.jpg">
        </div>
        <div>
            <img src="\media\images\Ja-niebo.jpg">
            <img src="\media\images\Ja-reka.jpg">
        </div>
    </div>
</body>

{% endblock %}